<section class="places section">
  <div class="container">
    <h2 class="places__title title">
      Лучшие рестораны
    </h2>
    <ul class="places__list">
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/blaze-pizza.jpg" width="370" height="300"
              alt="Blaze Pizza">
          </a>
          <h3 class="restorant-card__name">
            Blaze Pizza
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">11:00</time> - <time datetime="22:00">22:00</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/pizza-runcho.jpg" width="370" height="300"
              alt="Pizza Runcho">
          </a>
          <h3 class="restorant-card__name">
            Pizza Runcho
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">12:00</time> - <time datetime="22:00">21:00</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/pizza-hut.jpg" width="370" height="300"
              alt="Pizza Hut">
          </a>
          <h3 class="restorant-card__name">
            Pizza Hut
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">11:00</time> - <time datetime="22:00">22:00</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/McDonald.jpg" width="370" height="300"
              alt="McDonald`s">
          </a>
          <h3 class="restorant-card__name">
            McDonald`s
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">06:00</time> - <time datetime="22:00">23:00</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/kfc.jpg" width="370" height="300" alt="KFC">
          </a>
          <h3 class="restorant-card__name">
            KFC
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">06:00</time> - <time datetime="22:00">23:30</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
      <li class="places__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/star-burgers.jpg" width="370" height="300"
              alt="Star Burgers">
          </a>
          <h3 class="restorant-card__name">
            Star Burgers
          </h3>
          <div class="restorant-card__inner">
            <div class="restorant-card__time">
              <time datetime="11:00">09:00</time> - <time datetime="22:00">21:00</time>
            </div>
            <a class="restorant-card__crossing" href="#">
              <svg class="restorant-card__icon">
                <use xlink:href="images/sprite.svg#restorant-arrow"></use>
              </svg>
              <span class="sr-only">Почитать подробнее</span>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>