<section class="popular section">
  <div class="container">
    <h2 class="popular__title title">
      Популярные категории
    </h2>
    <ul class="popular__filter">
      <li class="popular__filter-item">
        <button class="popular__btn" type="button" data-filter="all">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="popular__filter-item">
        <button class="popular__btn" type="button" data-filter=".category-a">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="popular__filter-item">
        <button class="popular__btn" type="button" data-filter=".category-b">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular__filter-item">
        <button class="popular__btn" type="button" data-filter=".category-c">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#chicken"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular__filter-item">
        <button class="popular__btn" type="button" data-filter=".category-d">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#sets"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>
    <ul class="popular__content">
      <li class="popular__item mix category-all category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/cheeseburger.png" alt="Чизбургер с листьями салата">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              160 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/beefburger.png" width="140" height="140" alt="Бифбургер">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              190 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/royal-cheeseburger.png" width="140" height="140"
              alt="Королевский чизбургер">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              260 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/black-hamburger.png" width="140" height="140"
              alt="Черный гамбургер">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              199 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-e">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/chicken-burger.png" width="140" height="140"
              alt="Чикен бургер">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              180 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-all category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/cheeseburger.png" width="140" height="140"
              alt="Чизбургер с листьями салата">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              160 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/beefburger.png" width="140" height="140" alt="Бифбургер">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              190 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/royal-cheeseburger.png" width="140" height="140"
              alt="Королевский чизбургер">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              260 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/black-hamburger.png" width="140" height="140"
              alt="Черный гамбургер">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              199 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
      <li class="popular__item mix category-a category-e">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/chicken-burger.png" width="140" height="140"
              alt="Чикен бургер">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              180 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </li>
    </ul>
    <a class="popular__more  more" href="#">
      Показать еще
    </a>
  </div>
</section>