<section class="recent section">
  <div class="container">
    <h2 class="recent__title title">
      Вас может заинтересовать
    </h2>
  </div>
  <div class="recent__container">
    <div class="recent__carousel">
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/cheeseburger.png" alt="Чизбургер с листьями салата">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              160 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/beefburger.png" width="140" height="140" alt="Бифбургер">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              190 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/royal-cheeseburger.png" width="140" height="140"
              alt="Королевский чизбургер">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              260 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/black-hamburger.png" width="140" height="140"
              alt="Черный гамбургер">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              199 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/chicken-burger.png" width="140" height="140"
              alt="Чикен бургер">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              180 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
      <div class="recent__item">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/food/cheeseburger.png" alt="Чизбургер с листьями салата">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <div class="product-card__item">
            <span class="product-card__price">
              160 грн.
            </span>
            <button class="product-card__add btn" type="button">
              В корзину
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>