<section class="sale section">
  <div class="container">
    <h2 class="sale__title title">
      Акции и скидки
    </h2>
    <ul class="sale__list">
      <li class="sale__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/blaze-pizza.jpg" width="370" height="300"
              alt="Blaze Pizza">
          </a>
          <h3 class="restorant-card__name">
            Скидка 50% на вторую пиццу
          </h3>
        </article>
      </li>
      <li class="sale__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/kfc.jpg" width="370" height="300" alt="KFC">
          </a>
          <h3 class="restorant-card__name">
            Картошечка из KFC даром при заказе бургера
          </h3>
        </article>
      </li>
      <li class="sale__item">
        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restorant/star-burgers.jpg" width="370" height="300"
              alt="Star Burgers">
          </a>
          <h3 class="restorant-card__name">
            Чёрные бургеры на чёрный день
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>