<section class="testimonials section">
  <div class="container">
    <h2 class="testimonials__title title">
      Отзывы клиентов
    </h2>
    <div class="testimonials-slider">
      <div class="testimonials-slider__element">
        <div class="testimonials-slider__item">
          <img class="testimonials-slider__item-img" src="images/testimonials-slider.jpg" width="300" height="300"
            alt="Фотография клиента">
          <div class="testimonials-slider__item-content">
            <blockquote class="testimonials-slider__item-blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="testimonials-slider__item-author">
              Дарья
            </cite>
            <p class="testimonials-slider__item-text">
              Ценитель вкусной еды
            </p>
          </div>
        </div>
      </div>
      <div class="testimonials-slider__element">
        <div class="testimonials-slider__item">
          <img class="testimonials-slider__item-img" src="images/testimonials-slider.jpg" width="300" height="300"
            alt="Фотография клиента">
          <div class="testimonials-slider__item-content">
            <blockquote class="testimonials-slider__item-blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="testimonials-slider__item-author">
              Дарья
            </cite>
            <p class="testimonials-slider__item-text">
              Ценитель вкусной еды
            </p>
          </div>
        </div>
      </div>
      <div class="testimonials-slider__element">
        <div class="testimonials-slider__item">
          <img class="testimonials-slider__item-img" src="images/testimonials-slider.jpg" width="300" height="300"
            alt="Фотография клиента">
          <div class="testimonials-slider__item-content">
            <blockquote class="testimonials-slider__item-blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="testimonials-slider__item-author">
              Дарья
            </cite>
            <p class="testimonials-slider__item-text">
              Ценитель вкусной еды
            </p>
          </div>
        </div>
      </div>
      <div class="testimonials-slider__element">
        <div class="testimonials-slider__item">
          <img class="testimonials-slider__item-img" src="images/testimonials-slider.jpg" width="300" height="300"
            alt="Фотография клиента">
          <div class="testimonials-slider__item-content">
            <blockquote class="testimonials-slider__item-blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </blockquote>
            <cite class="testimonials-slider__item-author">
              Дарья
            </cite>
            <p class="testimonials-slider__item-text">
              Ценитель вкусной еды
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>